:root {
  /* Primary */
  --color-purple: hsl(259, 100%, 65%);
  --color-light-red: hsl(0, 100%, 67%);

  /* Neutral */

  --color-white: hsl(0, 0%, 100%);
  --color-off-white: hsl(0, 0%, 94%);
  --color-light-grey: hsl(0, 0%, 86%);
  --color-smokey-grey: hsl(0, 1%, 44%);
  --color-off-black: hsl(0, 0%, 8%);

  /* Fonts */

  --font-family: 'Poppins', sans-serif;
  --font-size: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;

  font-family: var(--font-family);

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-off-white);
}

/** Custom Design Classes **/

.small__text {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.8rem;
  
  color: var(--color-smokey-grey);
}

.input__design {
  width: 100%;

  outline: none;
  border: 1px solid var(--color-light-grey);
  border-radius: 0.3rem;

  font-size: 18px;
  font-weight: bold;
  font-family: var(--font-family);

  color: var(--color-off-black);

  padding: 0.5rem 0.8rem;

  cursor: pointer;
}

.input__design:focus,
.input__design:active,
.input__design:hover {
  border: 1px solid var(--color-smokey-grey);
}

.big__text {
  font-size: 4rem;
  line-height: 4.2rem;
  font-family: var(--font-family);
  font-weight: bold;
  font-style: italic;

  color: var(--color-off-black);
}